<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/app.css">
<title>Edit Blog</title>
</head>
<body>

<!--nav-->
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="terminal icon"></i> iBlog</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>
</div>
<!--nav-->

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%=blog.title%></div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%=blog.title%>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%=blog.image%>">        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"><%=blog.body%></textarea>
        </div>
        <div>
<input class="ui large inverted orange button" type="submit">
        </div>
            
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>