<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/app.css">
<title>Blog App</title>
</head>
<body>

<!--nav-->
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="terminal icon"></i> iBlog</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>
</div>
<!--nav-->

<div class="ui main text container">
        <div class="ui huge header">All Blogs</div>
        <div class="ui top  attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function(blog){ %>
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image %>" >
                        </div>
                        <div class="content">
                             <a class="header" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                             <div class="meta">
                                 <span><%= blog.created.toDateString() %></span>
                             </div>
                             <div class="description">
                                 <p><%- blog.body.substring(0, 100) %>...</p>
                             </div>
                             <div class="extra">
                                 <a class="ui large inverted violet button" href="/blogs/<%= blog._id %>">
                                     Read More
                                   
                                 </a>
                             </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>

